.container .jumbotron {
	padding-top:20px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	background-color:#F8F8F8;
}

.jumbotron {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 0px;
	border-color: #e6e6e6;
	border-width: 1px;
	border-style: solid;
	padding-bottom: 20px;
}

.jumbotron h1 {
	position: relative;
	padding-bottom: 0px;
	margin-bottom: 2px;
}

.jumbotron .define-button {
	position: relative;
	left: -24px;
	top: -4px;
}

.definitionChevron {
	position: relative;
	font-size: 10px;
}

.jumbotron .btn {
	padding: 5px;
	font-size: 15px;
	width: 90px;
	text-align: center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/* to do: make the delete button responsive */
.delete-button {
	position: relative;
	top: 3px;
	left: 223px;
	font-style: italic;
	color: #B0B0B0;
}

#words {
	max-width: 700px;
	position: relative;
	top: 98px;
}

/* The Modal (background) */
._modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	display:block;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    margin: 15% auto;
}

.help {
	width: 60%;
	margin: 5% auto;
	top: 35px;
}

.definition {
	width: 40%;
	margin: 15% auto;
}

.help-img {
	max-width: 100%;
}

/* The Close Button */
.closeButton {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    bottom:25px;
    left:15px;
}

.closeButton:hover,
.closeButton:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#definitionsModal-word {
	font-weight: bold;
	font-size: 20px;
}

#addWordBoundingBox {
	width: 400px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

#newWordInput {
	width: 342px;
}

#addWordButton {
	border: 1px solid #888;
	font-size: 12px;
	float:right;
	height: 36px;
	width: 49px;
	top: 2px;
}
`
#addWordDialogue {
}

.plus-icon {
	top: 4px;
}

.navbarlink {
	cursor: pointer;
}

.wordList {
	top: 75px;
}

.addCustomDefButton {
	position: relative;
	top:5px;
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 159px;
	margin: 0 auto;
}

.customDefFormInWord {
	top: 20px;
}

.customDefWordlist {

	top: 2px;
	bottom: 5px;
    font-size: 14px;
    right: 24px;
    padding-bottom: 5px;
    margin-top: 7px;
}

.customDefWord {
	margin-top: 5px;
	width: 400px;
}

.definitionForm {
	width: 342px;
	position: relative;
	padding-top: 5px;
	padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.removeCustomDefWordlist {
	top: 19px;
	right: 41px;
}

.removeCustomDefWord {
	top: 14px;
	right: 79px;
}

.removeCustomDef {
	float: left;
	left: 361px;
	position: relative;
	cursor: pointer;
	font-weight: 700;
	line-height: 1;
    color: #aaa;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.removeCustomDef:hover,
.removeCustomDef:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.updateButton {
	position: relative;
	float: right;
	bottom:27px;
	left: 7px;
}

.sampleWord {
	width: 250px;
    margin: 0 auto;
    cursor: pointer;
    color: #4582ec;
    position: relative;
    top: 4px;
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.sampleWord:hover {
	color: #143363;
}