.container .jumbotron {
	padding-top:20px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	background-color:#F8F8F8;
}

.jumbotron {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 0px;
	border-color: #e6e6e6;
	border-width: 1px;
	border-style: solid;
	padding-bottom: 20px;
}

.jumbotron h1 {
	position: relative;
	padding-bottom: 0px;
	margin-bottom: 2px;
}

.jumbotron .define-button {
	position: relative;
	left: -24px;
	top: -4px;
}

.definitionChevron {
	position: relative;
	font-size: 10px;
}

.jumbotron .btn {
	padding: 5px;
	font-size: 15px;
	width: 90px;
	text-align: center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/* to do: make the delete button responsive */
.delete-button {
	position: relative;
	top: 3px;
	left: 230px;
	font-style: italic;
	color: #B0B0B0;
}

#words {
	max-width: 700px;
	position: relative;
	top: 75px;
}

/* The Modal (background) */
._modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	display:block;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#definitionsModal-word {
	font-weight: bold;
	font-size: 20px;
}

#addWordBoundingBox {
	width: 400px;
	margin: 0 auto;
}

#newWordInput {
	width: 342px;
}

#addWordButton {
	border: 1px solid #888;
	font-size: 12px;
	float:right;
	height: 34px;
	width: 49px;
}

#addWordDialogue {
	height: 72px;
}

.plus-icon {
	top: 4px;
}

.navbarlink {
	cursor: pointer;
}

.wordList {
	top: 75px;
}