<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Vocabular</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="navbarlink" (click)="onClickContact()">Feedback</a></li>
            <li><a class="navbarlink" href="http://imgur.com/a/3fpdO">How it works</a></li>
          </ul>
        </div>
      </div>
    </nav>

<div class="container">
  <sp-wordlist>Loading words...</sp-wordlist>
</div>