<section class="wordList container" id="words">
    <div class="jumbotron word" *ngIf="this.reviewMode">
        <div class="reviewModeText"> 
            <div class="greeting greetingHeader">You're in review mode</div>
            This view shows <b>all</b> the words that you're currently reviewing.
            <div class="clickable" (click)="disableReviewMode()">Back to normal</div>
        </div>
    </div>

    <div class="jumbotron word" id="emptyState" *ngIf="this.displayEmptyState && !this.reviewMode">
        <div class="greeting heading">Hello!</div>
        <div>You have no more words to review (for now!)</div>
        <div><img src="resources/dictionary.png"/></div>
        <div class="nextSteps">
            <div class="greeting">Keep building your vocabulary</div>
            <div> Add more words you want to memorize below</div>
            <div class="clickable" (click)="enableReviewMode()">Or, see all words that you're currently learning</div>
        </div>
    </div>

	<div *ngFor="let word of words; let i = index">
    <!-- The template property binding "[bookmark]" 
    sets the value to the component property "bookmark". 
    In addition there are two custom component event bindings 
    "(bookmarkChanged)" and "(bookmarkDeleted)". 
    Whenever one of these events were raised, 
    their respective functions will be executed. -->
        <div *ngIf="word.shouldBeDisplayed() || this.reviewMode">
            <sp-word [word]="word" [reviewMode]="this.reviewMode" (wordDeleted)="deleteWord(word)" (wordGotIt)="onGotIt(word)" (wordForgot)="onForget(word)" (updateCustomDefinitions)="onUpdateCustomDefinitions(word, $event)"></sp-word>
        </div>
	</div>

    <!-- Add word -->
	<div class="jumbotron word" id="addWordDialogue">
        <div id="addWordBoundingBox">
            
            <!-- word entry  -->
            <div class="row">
    	    	<input class="col-md-1 form-control" id="newWordInput" [formControl] = "wordControl" name="newWord" placeholder="Add a new word"/>
          		<button class="btn btn-primary add-button col-md-1" id="addWordButton" type="submit" (click)=onSubmit() >
                    <span class="glyphicon glyphicon-plus plus-icon"></span>
                </button>
            </div>

            <!-- Sample word suggestion -->
            <div class="row">
                <div (click)="onSubmitSampleWord()" class= "sampleWord clickable" *ngIf="this.sampleWord && this.wordControl.pristine">
                    How about "{{this.sampleWord}}"?
                </div> 
            </div>
            <!-- Custom definitions -->
            <div class="row">
                <div *ngIf="!this.wordControl.pristine">
                    <div>
                      <div *ngFor="let t of customDefControls; let i = index">
                        <input [formControl]="t" placeholder="Enter a custom definition" class="definitionForm customDefWordlist" >
                        <div class="removeCustomDef removeCustomDefWordlist" (click)="removeCustomDefinition(i)">X</div>
                      </div>
                    </div>
                    <div class="btn-link addCustomDefButton" (click)="addCustomDefinition()">Add custom definition</div>
                </div>
            </div> 
        </div>
    </div>
</section>