<div class="jumbotron word">
   <h1 class="" id="">{{word.word}}</h1>
   <div class="row">
      <div class="col-md-2 col-md-offset-5">
         <div class="btn btn-link define-button col-centered" (click)="onDefine()">
            Show definition 
            <span class="glyphicon glyphicon-new-window definitionChevron"></span>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-2 col-md-offset-4">
         <div class="btn btn-success gotIt-button" (click)="onGotIt(word)">Got It</div>
      </div>
      <div class="col-md-2">
         <div class="btn btn-danger forget-button" (click)="onForget(word)">I forget</div>
      </div>
   </div>
   <div class="btn delete-button" (click)="onDelete(word)"><small>Stop showing this word</small></div>
</div>

<!-- definitions modal -->
<div class="_modal" tabindex="-1" (click)="onDismissDefinition()" [ngStyle]="{'display': visible ? 'block' : 'none'}">
      <div class="modal-content">
            <span class="close" (click)="onDismissDefinition()">×</span>
      <div id="modal-content">
            <div id="definitionsModal-word">{{word.word}}</div>
            <div *ngFor="let definition of definitions">  
                  <i>{{definition[0]}}</i>
                  {{definition[1]}}
            </div>
      </div>
</div>